.hc-icon-smile {
  color: #F1660E;
}
.event__details-item::before {
  color: #F1660E !important;
}
.widget-address {
  font-size: 14px;
  margin: 0 0 20px;
}
.textwidget{
  font-size: 14px;
  }
.widget-contact-numbers{
  font-size: 14px;
  margin: 0 0 20px;

}
.subscribe-inline .form__field-text {
  margin-top: 2px;
  overflow: hidden;
  padding-right: 11px;
}
.subscribe .form__input-text {
  background-color: #ffffff;
  border: medium none;
  border-radius: 99px;
  color: #bababa;
  line-height: normal;
  padding: 11.5px 19px;
  width: 100%;
}
.footer-bottom .custom-text {
  font-size: 12px;
}
.banner__body_vertical_middle {
  height: 228px !important;
  text-align: center !important;
}
.disclaimer_data > p {
  color: black;
  font-size: 17px;
  margin: 6px 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: oregano;
}
.disclaimer_data {
  margin-bottom: 14px;
}
.disclaimer_data marquee {
  color: #565656;
  font-size: 13px;
  margin-top: 5px;
  text-transform: uppercase;
}
#yogayur {
  color: green;
  font-size: 18px;
}
.welcometoyoga {
  margin-bottom: 83px;
  margin-top: 0px;
}
.firstt {
  color: gray;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
}
.oureducators h4 {
  color: black !important;
  font-size: 20px !important;
}
.testimonial__content-text {
  margin-bottom: 10px;
}
.testimonial__content-text > p {
 font-family: open sans;
    font-size: 14px !important;
    text-align: center;
}
.testimonial__content-author {
  font-family: oregano;
  font-size: 16px !important;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.oureducators h4 {
  font-family: oregano;
}
.purchasesection {
  color: black !important;
}
.select2-selection__rendered {
  color: black !important;
}
.select2-results__option {
  color: black !important;
}
.keyfeatures .info-box__title {
  color: #ff7918 !important;
}
.keyfeatures .info-box.info-box_type_boxed-2 {
  background-color: #f5f5f5;
  
  border-radius: 10px;
}
.pays > a {
  background-color: green;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px 12px;
  text-decoration: none;
  text-transform: uppercase;
}
.pays > a:hover {
  background: #FF7918;
  color: white;
  text-decoration: none;
}